<%= form_for(race) do |f| %>
  <% if race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
      <% race.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :race_name %>
    <%= f.text_field :race_name %>
  </div>

  <div class="field">
    <%= f.label :race_length %>
    <%= f.text_field :race_length %>
  </div>

  <div class="field">
    <%= f.label :race_time %>
    <%= f.text_field :race_time %>
  </div>

  <div class="field">
    <%= f.label :min_per_mile %>
    <%= f.text_field :min_per_mile %>
  </div>

  <div class="field">
    <%= f.label :runner_id %>
    <%= f.text_field :runner_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
