<p id="notice"><%= notice %></p>

<h1>Races</h1>

<table>
  <thead>
    <tr>
      <th>Race name</th>
      <th>Race length</th>
      <th>Race time</th>
      <th>Min per mile</th>
      <th>Runner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= race.race_name %></td>
        <td><%= race.race_length %></td>
        <td><%= race.race_time %></td>
        <td><%= race.min_per_mile %></td>
        <td><%= race.runner.first_name + " " + race.runner.last_name %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_path %>
