<p id="notice"><%= notice %></p>

<p>
  <strong>Race name:</strong>
  <%= @race.race_name %>
</p>

<p>
  <strong>Race length:</strong>
  <%= @race.race_length %>
</p>

<p>
  <strong>Race time:</strong>
  <%= @race.race_time %>
</p>

<p>
  <strong>Min per mile:</strong>
  <%= @race.min_per_mile %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @race.runner %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
