<p id="notice"><%= notice %></p>

<h1>Runners</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Age</th>
      <th>City</th>
      <th>State</th>
      <th>Club</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runners.each do |runner| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= runner.last_name %></td>
        <td><%= runner.first_name %></td>
        <td><%= runner.age %></td>
        <td><%= runner.city %></td>
        <td><%= runner.state %></td>
        <td><%= runner.club %></td>
        <td><%= link_to 'Show', runner %></td>
        <td><%= link_to 'Edit', edit_runner_path(runner) %></td>
        <td><%= link_to 'Destroy', runner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runner', new_runner_path %>
